.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1px;
    font-size: 30px;
    text-align: center;
    min-height: 200px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 10px;
  
    &:hover {
      transform: scale(1.02);
    }
  
    .image {
      width: 7rem;
      height: auto;
      opacity: 1;
      transition: opacity 0.3s ease;
  
      &.hidden {
        opacity: 0;
      }
      border-radius: 8px;
    }
  
    .loaderContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media (min-width: 375px) { /* for larger mobile screens*/
    .container {
      padding: 2px;
      .image {
        width: 9rem;
      }
    }
  }


  @media (min-width: 769px) { /* for desktops and larger */
    .container {
      .image {
        width: 15rem;
      }
    }
  }