.container {
    display: grid;
    gap: 0.4rem;
    padding: 0.4rem;
    grid-template-columns: auto auto; /* Default: Two column for mobile-first */
    background-color:#61cbfc;
    cursor: pointer;
    border-radius: 8px;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
  }

  @media (min-width: 375px) {
    .container {
      grid-template-columns: auto auto auto; /* Three columns for mobile and up */
    }
  }
  
  @media (min-width: 768px) {
    .container {
      grid-template-columns: auto auto auto auto; /* Four columns for tablets and up */
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      grid-template-columns: auto auto auto auto auto auto; /* Six columns for desktops and larger */
    }
  }